#mainContainer {
    display: flex;
    align-items: center;
}

#mainContainer img {
    width: 25%;
}

#contentContainer {
    width: 50%;
}

#contentContainer button {
    width: 25%;
    align-self: center;
}

.columnContent {
    display: flex;
    flex-direction: column;
}

.rowContent {
    display: flex;
    flex-direction: row;
}

.centerContent {
    display: flex;
    justify-content: center;
}

/* TODO: Add support for different screen sizes */
