html {
    --booking-input-height: 4rem;
    --booking-input-icon-size: 30px;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator:hover {
    background-image: url("../icons/calendarIcon.svg");
    background-repeat: no-repeat;
    height: var(--booking-input-icon-size);
    width: var(--booking-input-icon-size);
    background-size: cover;
    order: 0;
}

input[type="date"]::-webkit-datetime-edit {
    display: none;
    order: 1;
}

button {
    border: 0;
}

.hero {
    background-blend-mode: normal, darken, normal;
    height: 100dvh;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-image:
        linear-gradient(93deg, rgba(62, 85, 70, 0.47) 1.68%, rgba(96, 141, 111, 0.08) 52.57%, rgba(125, 188, 146, 0) 97.9%),
        linear-gradient(106deg, rgba(0, 0, 0, 0.26) 13.4%, rgba(255, 255, 255, 0) 100%),
        linear-gradient(180deg, #1a1a1b 0%, rgba(75, 75, 78, 0.15) 49.73%, rgba(124, 124, 129, 0) 100%),
        url("@/images/heroImage.jpg");
}

.hero .blocker {
    backdrop-filter: blur(2px);
    z-index: 60;
}
.hero-text-container {
    padding-top: 200px;
    width: 22rem;
    padding-left: 5.5rem;
    color: var(--brightgreen);
}

.hero-large-text {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    line-height: normal;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-cta-text {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    line-height: 150%; /* 1.875rem */
    font-weight: 400;
}

.hero-booking-container {
    padding-left: 12rem;
    padding-right: 6rem;
    margin-top: auto;
    position: relative;
    transform: translateY(30%);

    z-index: 55;
}

.hero-booking {
    box-shadow: 0 7px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    padding-inline: 1.8rem;
    padding-block: 1rem;
    gap: 1rem;
    justify-content: space-around;
    width: 100%;
    max-width: 100%;
    background: var(--bg2);
}

.hero-booking > button {
    background-color: var(--brown);
    height: var(--booking-input-height);
}

.booking-button {
    align-self: flex-end;
}

.hero-booking-label {
    font-size: 0.75rem;
    line-height: normal;
    color: var(--textbrown);
}

.hero-booking-input,
.hero-booking-input:hover,
.hero-booking-input:active,
.hero-booking-input:focus-visible {
    background: transparent;
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 2.25rem;
    border: 2px solid var(--darkgreen);
    height: var(--booking-input-height);
}

.hero-booking-input-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.3rem;
}
button {
    display: flex;
    padding: 0 1.0625rem;
    justify-content: center;
    align-items: center;
}

.icon-container {
    height: 300px;
    padding: 5.1875rem 3.8125rem 5.25rem 3.8125rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    padding-inline: 3.2rem;
    gap: 14rem;

    background: var(--bg1);
    color: var(--icons);
}

.icon-section-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-section .blocker {
    background-color: rgba(from var(--bg1) r g b / 80%);
    backdrop-filter: brightness(70%);
}

.icon-section-icon > img {
    width: 5rem;
    height: 5rem;
    aspect-ratio: 1/1;
}

.icon-section-icon > p {
    align-self: stretch;
    text-wrap: nowrap;
    text-align: center;
}

.about-section {
    background: var(--bg2);
}

.about-section .blocker {
    background-color: var(--bg2);
}

.random-section {
    display: flex;
    flex-direction: column;
}
.random-section .blocker {
    background-color: green;
}
.random-section-section {
    background: transparent;
    display: flex;
    flex-direction: row;
}

.random-section-section-img-container {
    flex-grow: 1;
    display: flex;
}
.random-section-section-img-container > img {
    width: 80%;
    height: auto;
    margin-left: auto;
}

.copy-section {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    gap: 2rem;
    align-items: flex-start;
    padding-inline: 5rem;
    color: var(--Text-text-opacity-down);
}

.copy-section > p {
    font-size: 1.5rem;
    line-height: normal;
}

.copy-section > button {
    display: flex;
    width: 10.875rem;
    padding: 1rem 0 0.9375rem 0;
    font-size: 1.2rem;
    line-height: normal;
    color: var(--brown);
}

.image-carousel {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    padding-block: 3rem;
    padding-top: 10rem;
}

.carousel-card {
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 4px 0 rgba(0, 0, 0, 0.25);
    height: 20rem;
    width: 20rem;
    border: 2px solid var(--darkgreen);
}

.carousel-card-image {
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;

    font-size: 1.25rem;

    line-height: normal;
}

.carousel-card-header {
    display: flex;
    width: 100%;
    height: 6.4375rem;
    justify-content: space-around;
    align-items: center;
    padding-inline: 1rem;
    background: var(--bg1);
}

.carousel-card-header > button {
    width: 7rem;
    margin-left: auto;
    border: 2px solid var(--textbrown);
}
