.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 8rem;
    overflow: clip;
    letter-spacing: normal;
}

.icon img,
.edit-icon img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
}

.icon p {
    text-align: center;
    hyphens: auto;
}

.icon-text-container {
    width: 100%;
    max-width: 100%;
    height: max(20px, fit-content);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: clip;
    border: 1px solid transparent;
}

.edit-icon input,
.edit-icon input:hover,
.edit-icon input:focus {
    overflow-wrap: anywhere;
    text-align: center;
    hyphens: auto;
    background-color: #eee;

    color: var(--icons);

    width: 0px;
    height: 100%;
    max-width: 100%;

    padding: 0px;
    border: 0px;

    flex: 1 1;
    text-align: center;
    outline: 0;
}

.edit-icon > label > input[type="file"] {
    display: none;
    height: 0px;
    width: 0px;
}

.edit-icon label {
    width: 100%;
    border: 1px solid transparent;
}

.edit-icon label:hover {
    border-color: #333;
}
