.icon-section .blocker {
    background-color: rgba(from var(--bg1) r g b / 80%);
    backdrop-filter: brightness(70%);
}

.icon-container {
    container-name: iconcontainer;
    container-type: inline-size;
    width: 100%;
    padding-block: 8rem;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    gap: 2rem;
    /* font-size: 1cqw; */
    background: var(--bg1);
    color: var(--icons);
}

@container iconcontainer {
    *,
    .icon-input,
    .icon-input:hover,
    .icon-input:active,
    .icon-input:focus-visible,
    .icon-text-container p {
        font-size: 1cqw;
        line-height: 1cqw;
    }
}

.icon-section {
    width: 100%;
}
