input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url("../icons/calendarIcon.svg");
  background-repeat: no-repeat;
  background-size: "100px";
}

input::-internal-datetime-container {
  width: 100%;
  height: 100%;
}
