/* TODO: nav links color have low contrast on bright backgrounds */
html {
    --header-height: 60px;
}
.blocker {
    height: var(--header-height);
    position: sticky;
    z-index: 50;
    top: 0;
}

.nav {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    padding: 1em 2em;
    justify-content: space-between;
    position: fixed;
    inset-block-start: 0;
    width: 100%;
    height: var(--header-height);
    z-index: 100;
    backdrop-filter: brightness(70%);
}

.nav-links-container {
    display: flex;
    flex-direction: row;
    gap: 118px;
    justify-items: center;
    align-items: center;
}

.nav-link {
    font-size: 1rem;
    line-height: normal;
    text-decoration: none;
    color: var(--bg-2);
}

.nav-logo {
    display: flex;
    width: 15.5rem;
    height: 4.9375rem;
    padding: 1.6875rem 0 1.75rem 0;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

a {
    color: var(--bg-2);
}
