/* ---------------- */
/* UNIVERSAL/GLOBAL */
/* ---------------- */
:root {
    --dark: #282831;
}
body {
    margin: 0;
    padding: 0;
}
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.cinzel {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.albert-sans {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* ------------------- */
/* STRUCTURE HOME PAGE */
/* ------------------- */
header {
    /* height: 100vh; // Why view height */
}

.nav-bar {
    display: grid;
    grid-template: 1fr / 5% 1fr 5%;
}

.nav-bar div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 10px;
}

#hero {
    background-image: url();
}

.booking {
    background-color: #B8CBBE;
    color: black;
    width: 1476px;
    display: grid;
    
    grid-template-columns: repeat(5 30px); /* can someone help  */
    grid-template-rows: repeat(2 10px);
}

.booking:nth-child {
    width: fit-content;
}

.booking:nth-child(even) {
    background-color: orange;
    order: 1;
}

/* ---------------------- */
/* STRUCTURE BOOKING PAGE */
/* ---------------------- */


/* ------------------- */
/* STRUCTURE SHOP PAGE */
/* ------------------- */


/* --------------------- */
/* STRUCTURE EVENTS PAGE */
/* --------------------- */


/* ----- OTHER ----- */

/* ----- OTHER 2 ----- */