/* ---------------- */
/* UNIVERSAL/GLOBAL */
/* ---------------- */
:root {
    --dark: #282831;
}
body {
    margin: 0;
    padding: 0;
}
.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.cinzel {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.albert-sans {
    font-family: "Albert Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/* ------------------- */
/* STRUCTURE HOME PAGE */
/* ------------------- */
header {
    height: 100vh;
}
#hero {
    background-image: url();
}

/* ---------------------- */
/* STRUCTURE BOOKING PAGE */
/* ---------------------- */


/* ------------------- */
/* STRUCTURE SHOP PAGE */
/* ------------------- */


/* --------------------- */
/* STRUCTURE EVENTS PAGE */
/* --------------------- */


/* ----- OTHER ----- */

/* ----- OTHER 2 ----- */